html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100vw;
  padding: 8% 5%;
  color: white;
  overflow-x: auto;
  overflow-y: auto;
  position: absolute;
  z-index: 100;

}

section img {
  filter: invert(100%);
}

.wrapper {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 100px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.parallax_group {
  height: 100vh;
  width: 100vw;
  position: relative;
  transform-style: preserve-3d;
  scroll-snap-align: start;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.bg-0 {
  background-image: url(assets/m-bg-0.jpg);
  background-size: cover;
  background-position: center;
  transform: translateZ(-100px) scale(2);
  z-index: 0;
}

.bg-1 {
  background-image: url(assets/m-bg-1.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-75px) scale(1.75);
  z-index: 2;
}

.bg-2 {
  background-image: url(assets/m-bg-2.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-50px) scale(1.5);
  z-index: 4;
}

.bg-3 {
  background-image: url(assets/m-bg-3.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(0px) scale(1);
  z-index: 6;
}

.bg-3-1 {
  background-color: black;
  background-size: cover;
  background-position: center;
  transform: translateZ(0px) translateY(100%) scale(1);
  z-index: 7;
}

.bg-0-far {
  background-image: url(assets/m-bg-0.jpg);
  background-size: cover;
  background-position: center;
  transform: translateZ(-2000px) scale(26);
  z-index: 0;
}

.bg-1-far {
  background-image: url(assets/m-bg-1.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-1200px) scale(14);
  z-index: 2;
}

.bg-2-far {
  background-image: url(assets/m-bg-2.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-900px) translateY(-10%) scale(10);
  z-index: 4;
}

.bg-3-far {
  background-image: url(assets/m-bg-3.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-300px) translateY(-20%) scale(4);
  z-index: 6;
}

.bg-4-far {
  background-image: url(assets/m-bg-4.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(0px) translateY(10%) scale(1);
  z-index: 8;
}

.bg-woods {
  background-image: url(assets/m-bg-woods.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-30px) translateY(110%) scale(1.3);
  z-index: 7;
}

.title {
  color: white;
  transform: translateZ(-34px) translateY(30%) scale(1);
  z-index: 5;
}

.title h1 {
  margin: 5%;
  font-size: 3.5rem;
}

.bg-black {
  background: black;
}

.front {
  position: relative;
  z-index: 2000;
}

.display-5 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.display-4 {
  font-size: 1.8rem;
}

.display-3 {
  font-size: 2.4rem;
}

.display-2 {
  font-size: 2.6rem;
}

.mx-10 {
  margin-left: 10%;
  margin-right: 10%;
}

.mt-10 {
  margin-top: 5%;
}

.px-10 {
  padding-left: 20%;
  padding-right: 20%;
}

.bg-lighter {
  background-color: rgba(255, 255, 255, 0.8);
}

.scroll {
  overflow-x: auto;
  overflow-y: auto;
}

.fixed-table {
  table-layout: fixed;
}

.fancy-font{
  font-family: 'Dancing Script', serif;
}

.navigator {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 6000;
}

.navigator-link {
  color: white;
  margin: 10px 2%;
  font-size: 1.1rem;
  font-weight: lighter;
  text-decoration: none;
}

.navigator-link:hover {
  color: white;
  filter: brightness(0.8);
  text-decoration: none;
}

.phase {
  color: black;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  text-align: center;
  padding: 1.5rem 1rem;
  margin: 8px 20px 8px 2px;
  max-width: 600px;
}

.phase p {
  font-weight: 300;
  font-size: 1rem;
  margin: 0px;
}
