html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100vw;
  padding: 8% 5%;
  color: white;
  overflow-x: auto;
  overflow-y: auto;
  position: absolute;
  z-index: 100;
}

section img {
  filter: invert(100%);
}

.wrapper {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 100px;
}

.parallax_group {
  height: 100vh;
  width: 100vw;
  position: relative;
  transform-style: preserve-3d;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.bg-0 {
  background-image: url(assets/m-bg-0.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-100px) scale(2);
  z-index: 0;
}

.bg-1 {
  background-image: url(assets/m-bg-1.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-75px) scale(1.75);
  z-index: 2;
}

.bg-2 {
  background-image: url(assets/m-bg-2.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-50px) scale(1.5);
  z-index: 4;
}

.bg-3 {
  background-image: url(assets/m-bg-3.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(0px) scale(1);
  z-index: 6;
}

.bg-0-far {
  background-image: url(assets/m-bg-0.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-1000px) translateY(-150%) scale(12);
  z-index: 0;
}

.bg-1-far {
  background-image: url(assets/m-bg-1.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-700px) scale(10);
  z-index: 2;
}

.bg-2-far {
  background-image: url(assets/m-bg-2.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-600px) scale(7);
  z-index: 4;
}

.bg-3-far {
  background-image: url(assets/m-bg-3.png);
  background-size: cover;
  background-position: center;
  transform: translateZ(-200px) scale(3);
  z-index: 6;
}

.bg-black {
  background-color: black;
}

.title {

}




.display-4 {
  font-size: 1.8rem;
}

.display-3 {
  font-size: 2.4rem;
}

.display-2 {
  font-size: 3rem;
}

.mx-10 {
  margin-left: 10%;
  margin-right: 10%;
}

.mt-10 {
  margin-top: 5%;
}

.px-10 {
  padding-left: 20%;
  padding-right: 20%;
}

.front {
  z-index: 1000;
  position: relative;
}

.bg-lighter {
  background-color: rgba(255, 255, 255, 0.6);
}

.scroll {
  overflow-x: auto;
  overflow-y: auto;
}

.fixed-table {
  table-layout: fixed;
}

.fancy-font{
  font-family: 'Dancing Script', serif;
}

.bg-d {
  background-color: rgba(8, 16, 22, 0.2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 80%;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 5;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.navigator {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navigator-link {
  color: white;
  margin: 10px 2%;
  font-size: 1.1rem;
  font-weight: lighter;
  text-decoration: none;
}

.navigator-link:hover {
  color: white;
  filter: brightness(0.8);
  text-decoration: none;
}

.phase {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  text-align: center;
  padding: 1.5rem 1rem;
  max-width: 600px;
}

.phase p {
  font-weight: 300;
  font-size: 1rem;
  margin: 0px;
}
