html, body{
  height: 100%;
  width: 100%;
  color: white;
}

#particles-js {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 5;
  transform: translateZ(0);
}


.bg-0 {
  background-image: url("assets/spruce_branches_needles_128622_2560x1440.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 0;
  transform: translate(-4px, -4px) scale(1.1);
  filter: blur(2px) brightness(0.9);
}

.title {
  color: white;
  font-family: 'Dancing Script', serif;
  font-size: 5vh;
}

.headline {
  margin: 4%;
}

.giftbox {
  height: 15vh;
  width: 15vh;
  filter: grayscale(0.1);
}

.giftbox:hover {
  filter: drop-shadow(0px 0px 20px rgba(255,255,255 ,0.5));
  cursor: pointer;
}


main {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.form {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 4%;
  border-radius: 1rem;
  transform: translateZ(0);
  will-change: transform;
}

.round-input {
  border-radius: 1.08rem;
  -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.round {
  border-radius: 1.08rem;
}

.front {
  position: relative;
  z-index: 1000;
}

.display-5 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.display-4 {
  font-size: 1.8rem;
}

.display-3 {
  font-size: 2.4rem;
}

.display-2 {
  font-size: 2.6rem;
}


.bg-lighter {
  background-color: rgba(255, 255, 255, 0.8);
}

.scroll {
  overflow-x: auto;
  overflow-y: auto;
}

.fancy-font{
  font-family: 'Dancing Script', serif;
}
